psycopg2-binary
langchain_community
qdrant-client
langchain_qdrant
PyMuPDF
accelerate
# bitsandbytes - Not used in current implementation, Linux-only
langchain
sentence-transformers
transformers
tqdm
torch
tokenizers
torchaudio
torchvision
huggingface_hub
pandas
pyarrow
chromadb
reportlab
spacy
python-dotenv
gradio
